.sticker-card {
	transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
	transform-style: preserve-3d;
	position: relative;

	.side-top {
		transform: rotateX(90deg) translateZ(50px);
	}

	.side-right {
		transform: rotateY(90deg) translateZ(50px);
	}

	.side-front {
		transform: rotateX(0deg) translateZ(50px);
	}
}
.sticker-card-face {
	position: absolute;
	width: 100px;
	height: 100px;
	&[data-sticker-color='front'] {
		background: var(--cube-color-front);
	}
	&[data-sticker-color='left'] {
		background: var(--cube-color-left);
	}
	&[data-sticker-color='right'] {
		background: var(--cube-color-right);
	}
	&[data-sticker-color='top'] {
		background: var(--cube-color-top);
	}
	&[data-sticker-color='bottom'] {
		background: var(--cube-color-bottom);
	}
	&[data-sticker-color='back'] {
		background: var(--cube-color-back);
	}
}
